<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}MtOps2 | 美图运维系统基础模版{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    {% block extend-css %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <span style="font-family: site-logo-font;font-size: 40px;color: #FF6699;">MtOps 2</span>
                    <small> beta</small>
                </a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                {% if user.is_staff %}
                    <li>
                        <a href="/admin">
                            <i class="fa fa-gears fa-fw"></i>管理
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="#">
                        <i class="fa fa-question-circle fa-fw"></i>帮助
                    </a>
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>{{ user.last_name }}{{ user.first_name }}  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{% url 'djauth_ext-userinfo-detail' %}"><i class="fa fa-user fa-fw"></i> 用户信息</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{% url 'user-logout' %}"><i class="fa fa-sign-out fa-fw"></i> 注销</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#"><i class="fa fa-dashboard fa-fw"></i> 仪表板</a>
                        </li>
                        {% if perms.asset %}
                            <li>
                                <a href="#"><i class="fa fa-inbox fa-fw"></i> 资产管理<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="#">
                                            硬件资产
                                            <span class="fa arrow"></span>
                                        </a>
                                        <ul class="nav nav-third-level collapse" aria-expanded="false" style="height: 0px;">
                                            <li>
                                                <a href="{% url 'asset-idc-list' %}">机房列表</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'asset-cabinet-list' %}">机柜列表</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'asset-hardware-list' %}">硬件列表</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'asset-host-list' %}">主机列表</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="{% url 'asset-project-list' %}">软件资产</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        {% endif %}
                        {% if perms.code_update %}
                            <li>
                                <a href="#"><i class="fa fa-upload fa-fw"></i> 代码发布<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{% url 'code-task-list' %}">上线任务</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'code-project-list' %}">上线项目</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        {% endif %}
                        {% if perms.dbop %}
                            <li>
                                <a href="#"><i class="fa fa-database fa-fw"></i> 数据库任务<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="#">普通建表</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">{% block page-header %}Blank{% endblock %}</h1>
                    </div>
                    <div class="col-lg-12">
                        {% block page-content %}{% endblock %}
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/js/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/js/plugins/metisMenu.min.js"></script>
<script src="/static/js/jquery.easing.1.3.js"></script>
<script src="/static/js/jquery.jBreadCrumb.1.1.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/sb-admin-2.js"></script>
<script>
    jQuery(document).ready(function()
{
	jQuery("#breadCrumb").jBreadCrumb();
})
</script>
    
    {% block extend-js %}{% endblock %}
</body>

</html>
