{% extends "base_page.html" %}

{% block title %}MtOps2 | 美图运维系统表单基础模版{% endblock %}

{% block page-header %}表单基础模版{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">{% block panel-heading %}{% endblock %}</div>
                <div class="panel-body">
                    <form class="form-horizontal" action="#" method="post" id="myForm">
                        {% block custom_input %}
                            {% include "project_includes/form_snippet.html" %}
                        {% endblock %}
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <input class="btn btn-default" type="reset" value="重置">
                                <input class="btn btn-primary" type="submit" value="提交">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
